<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${exercise}">
		<h2>
			<span class="material-icons-round"> mode_edit </span> <span th:text="${exercise.edit}" /> <span
				th:text="${exercise.name}"></span>
		</h2>
		<input th:value="${exercise.id}" name="idExercise" type="number"
			hidden />
		<div th:if="${!questionList.isEmpty()}">
			<div class="panel panel-default" th:each="question : ${questionList}">
				<input type="text" class="panel-heading"
					th:text="${question.statement}">Enunciado
			</div>
			<div th:each="answer : ${question.answers}">
					<input th:if="${answer.correct == true}" type="checkbox" id="huey"
						name="drone" value="huey" checked disabled> <input
						th:if="${answer.correct == false}" type="checkbox" id="huey"
						name="drone" value="huey" disabled> <label for="huey"
						th:text="${answer.text}" />
				</div>
		</div>
	</div>

	</div>
	<div class="container" th:object="${exercise}" align="center">
		<a class="btn btn-info btn-lg"
			th:href="${'/exercise/edit/' + exercise.id}" role="button"><span
			class="material-icons-round"> save </span><span th:text="${subject.save}"/></a>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>