<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/head"/>
<title th:text="#{homework.tocorrect}"/>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${homework}">
		<h2>
			<span th:text="#{homework.tocorrect}"></span>
		</h2>
		<div class="centerCard">
			<h4>
				<span th:text="#{signup.alumno}" />: <span
					th:text="${homework.user.getNameAndSurname()}"></span>
			</h4>
			<h5 th:text="${homework.exercise.name}" />
			<div class="alert alert-info" role="alert">
				<span th:text="#{tocorrect.gotoFiles}" />
			</div>

			<div class="centerCard">
				<h5 th:text="#{tocorrect.message}" />
				"<span th:text="${homework.description}"> </span>"
			</div>
		</div>
		<br> <br>
		<form class="form-horizontal" method="POST"
			action="/homework/correct">
			<input name="idHomework" th:value="${homework.id}" type="number"
				hidden />
			<div class="form-group">
				<label class="control-label col-sm-2" for="score"
					th:text="#{tocorrect.mark}"></label>
				<div class="col-sm-8">
					<select id="role" class="form-control" name="score">
						<option th:each="mark : ${markList}" th:value="${mark}"
							th:text="${mark}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="comment"
					th:text="#{tocorrect}"></label>
				<div class="col-sm-8">
					<textarea class="form-control" name="comment"
						th:placeholder="#{tocorrect.placeholder}"></textarea>
				</div>
			</div>
			<input name="idExercise" th:value="${homework.id}" type="number"
				hidden />
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-8" align="center">
					<button aria-label="Center Align" type="submit" class="btn btn-info">
						<span th:text="#{todo.button}"></span>
					</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>