<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${exercise}">
		<h4>Agregar pregunta</h4>
		<form class="form-horizontal" method="post" action="/question/add" th:object="${question}">
			<input name="idExercise" th:value="${exercise.id}" type="number" hidden />
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Nombre:</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="name"
						placeholder="Pregunta 1" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="statement">Pregunta:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="statement"
						placeholder="¿Cuál de las siguientes afirmaciones es verdadera?"
						required="true" />
				</div>
			</div>
			<button type="submit" id="addA" class="btn btn-info">Añadir
				respuestas</button>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>