<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/head"/>
<title th:text="#{todo.exercise}"/>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${exercise}">
		<h2>
			<span th:text="${exercise.name}"></span>
		</h2>
		<form class="form-horizontal" method="post" action="/homework/save">
			<input th:value="${exercise.id}" name="idExercise" type="number"
				hidden />

			<div class="container" align="center">
				<button type="submit" class="btn btn-info" th:text="{homework.send}" aria-label="Center Align"></button>
			</div>
		</form>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>