<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/head"/>
<title th:text="#{homework.list.h2}"/>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{homework.list.h2}"></h2>
		<form class="navbar-form" action="/homework/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{homework.placeholder}">
			</div>
			<button type="submit" class="btn btn-info">
				<span class="material-icons-round" aria-label="Center Align"> search </span>
			</button>
		</form>
		<div class="alert alert-danger" role="alert"
				th:if="${mensaje != null}" th:text="${mensaje}"></div>
		<div align="center">
			<img src="/img/correct.png">
		</div>
		<div class="table-responsive" th:if="${!homeworkList.isEmpty()}">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{homework.student}"></th>
						<th th:text="#{homework.subject}"></th>
						<th th:text="#{homework.exercise}"></th>
						<th th:text="#{home.description}"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="homework : ${homeworkList}">
						<td th:text="${homework.user.name}">Pepe</td>
						<td th:text="${homework.exercise.subject.name}">Pepe</td>
						<td th:text="${homework.exercise.name}">Ejercicio 1</td>
						<td th:text="${homework.description}">No supe hacer el 10</td>
						<td th:if="${!homework.isSent()}"><a
							sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/homework/correct/' + homework.id}"
							class="btn btn-info" role="button" th:text="#{homework.correct}" aria-label="Center Align"></a></td>
						<td th:unless="${!homework.isSent()}"><a
							sec:authorize="hasRole('ROLE_PROFESSOR')" id="tool"
							data-toggle="tooltip" data-placement="left"
							th:title="#{tooltip.homework.send}" role="button" aria-label="Center Align"
							class="btn btn-info" th:text="#{homework.correct}" disabled></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${!homeworkList.isEmpty()}" align="center">
			<br>
			<h4 th:text="#{homework.list.empty}" />
			<br>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
<script>
	$(function() {
		$('#tool').tooltip()
	})
</script>
</html>