<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th />
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><h2 th:text="#{subject.h2}">Asignaturas</h2></td>
					<td sec:authorize="hasRole('ROLE_PROFESSOR')"><a
						href="/subject/add" role="button" class="btn btn-info"> <span
							class="material-icons-round"> add </span>
					</a></td>
				</tr>
			</tbody>
			</thead>
		</table>
		<form class="navbar-form" action="/subject/list" method="post">
			<div class="form-group" sec:authorize="hasRole('ROLE_PROFESSOR')">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{subject.search}">
			</div>
			<button type="submit" class="btn btn-info"
				sec:authorize="hasRole('ROLE_PROFESSOR')">
				<span class="material-icons-round"> search </span>
			</button>
		</form>
		<br>
		<div class="centerCard" th:if="${!subjectList.isEmpty()}">
			<div th:each="subject : ${subjectList}">
				<div class="panel panel-default">
					<div class="panel-heading" align="center">
						<h3 th:text="${subject.name}"></h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th scope="col"><div>
											<a th:href="${'/subject/details/' + subject.id}"
												class="btn btn-warning" role="button"><span
												class="material-icons-round"> school </span> <span
												th:text="#{subject.details}"></span></a>
										</div></th>
									<th scope="col"><div
											sec:authorize="hasRole('ROLE_PROFESSOR')">
											<a th:href="${'/subject/delete/' + subject.id}"
												class="btn btn-warning" role="button"><span
												class="material-icons-round"> delete </span> <span
												th:text="#{user.list.table.deleteButton}"></span></a>
										</div></th>

									<th scope="col"><div
											sec:authorize="hasRole('ROLE_STUDENT')">
											<a th:href="${'/homework/exercise/list/' + subject.id}"
												class="btn btn-warning" role="button"><span
												class="material-icons-round"> edit </span><span
												th:text="#{subject.exercise}"></span> </a>
										</div></th>
									<th scope="col"><div
											sec:authorize="hasRole('ROLE_STUDENT')">
											<a th:href="${'/feedback/list/' + subject.id}"
												class="btn btn-warning" role="button"><span
												class="material-icons-round"> thumb_up_off_alt </span><span
												th:text="#{nav.showFeedback}"></span> </a>
										</div></th>

								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>