<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${subject}">
		<div class="panel panel-default" th:object="${user}">
			<div class="panel-heading" th:text="${subject.name}">Nombre</div>
			<div class="panel-body" th:text="${user.name}">Profesor</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre de usuario</th>
							<th>Nombre</th>
							<th>Apellidos</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="student : ${subject.getStudents()}">
							<input name="idStudent" th:field="${student.id}" type="number"
								hidden />
							<td th:text="${student.username}" th:field="${student.username}"
								name="studentName"></td>
							<td th:text="${student.name}" th:field="${student.name}"
								name="studentName"></td>
							<td th:text="${student.lastName}" th:field="${student.lastName}"
								name="studentLastname"></td>
					</tbody>
					</thead>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>