<!DOCTYPE html>
<html>
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{user.studentsList}"></h2>
		<form class="navbar-form" action="/user/student/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50" id="searchText"
					th:placeholder="#{user.students.search}">
			</div>
			<button type="submit" class="btn btn-info">
				<span class="material-icons-round"> search </span>
			</button>
		</form>
		<div class="alert alert-danger" role="alert"
				th:if="${mensaje != null}" th:text="${mensaje}"></div>
		<div align="center">
			<img src="/img/students.png" /><br>
		</div>
		
		<div class="panel panel-default" th:each="student : ${studentList}" id="card">
			<div class="panel-heading">
				<h3>
					<span th:text="${student.name}" /> <span
						th:text="${student.lastName}" />
				</h3>
			</div>
			<div class="panel-body"></div>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>