@charset "ISO-8859-1";

/* Sticky global styles-------------------------------------------------- */
html {
  position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
    font-size: 16px;
}

/* Colores de botones y de labels----------------------------------------- */
.label-warning {
  background-color: #e6648d;
}

.btn-warning {
  color: #fff;
     background-color: #e6648d;
     border-color: #e6648d;
	     border-radius: 37px;
}

.label-success {
  background-color: #abb4ff;
}

.btn-success {
  color: #fff;
	background-color: #abb4ff;
	border-color: #abb4ff;
	    border-radius: 37px;
}

.btn-info {
  color: #fff;
	background-color: #5bc0de;
	  border-color: #46b8da;
	    border-radius: 37px;
}

.btn-group-lg > .btn,
 				.btn-lg {
  padding: 10px 16px;
	font-size: 18px;
	  line-height: 1.3333333;
	    border-radius: 37px;
}

a {
  color: #5bc0de;
	text-decoration: none;
}

/* Sticky nav styles-------------------------------------------------- */
.navbar-inverse .navbar-nav > li > a {
  color: #000;
}

.navbar-inverse {
  background-color: white;
	border-color: white;
}

.navbar-inverse .navbar-nav>.open > a,
 .navbar-inverse .navbar-nav>.open > a:focus,
  .navbar-inverse .navbar-nav>.open > a:hover {
  color: white;
    background-color: #5bd0de;
}

.navbar-inverse .navbar-nav > li > a:focus,
 .navbar-inverse .navbar-nav > li > a:hover {
  color: #fff;
	  background-color: #5bd0de;
}

.dropdown-menu > li > a {
  display: block;
	padding: 3px 20px;
	  clear: both;
	  font-weight: 400;
	      line-height: 1.42857143;
	        color: #000;
	          white-space: nowrap;
	            font-size: medium;
}

/* Sticky footer styles-------------------------------------------------- */
footer {
  position: absolute;
	bottom: 0;
	width: 100%;
	   height: 60px;
	     background-color: #e6648d;
	       text-align: center;
	line-height: 60px;
}

.text-muted {
  color: black;
}

.h2, 
h2 {
  font-size: 32px;
	color: #e6648d;
}

.h4, 
h4 {
  color: #5bd0de;
	font-size: 20px;
}

.h5, 
h5 {
  color: #737373;
	font-size: 16px;
}

.center {
  margin: auto;
	padding: 10px;
}

.panel-default > .panel-heading {
  color: #333;
	background-color: #5bc0de78;
	  border-color: #ddd;
}

.centerCard {
  margin: auto;
	width: 60%;
	  border: 3px solid #e6648d;
	    padding: 10px;
}

/* Sticky pagination styles-------------------------------------------------- */
.pagination>.active > a,
 .pagination>.active > a:focus,
  .pagination>.active > a:hover,
 .pagination>.active > span,
  .pagination>.active > span:focus,
   .pagination>.active > span:hover
	{
  z-index: 3;
	color: #fff;
	  cursor: default;
	    background-color: #5bc0de;
	      border-color: #46b8da;
}

.pagination > li > a,
 .pagination > li > span {
  position: relative;
	float: left;
	  padding: 6px 12px;
	  margin-left: -1px;
	      line-height: 1.42857143;
	color: darkslategrey;
	text-decoration: none;
	background-color: #fff;
	  border: 1px solid #ddd;
}

.personal-menu-button {
  border-radius: 37px;
	background-color: #ededed;
	  width: 100%;
	  font-size: 2.5rem;
	color: #5bd0de;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	  padding: 2rem 2rem 2rem 3rem;
}

/* Tooltip */
.tooltip {
  position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tiptext {
  visibility: hidden;
	width: 120px;
	  background-color: black;
	    color: #fff;
	text-align: center;
	border-radius: 3px;
	padding: 6px 0;
	position: absolute;
	z-index: 1;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tooltip .tiptext::after {
  content: "";
	position: absolute;
	border-width: 5px;
	    border-style: solid;
}

.tooltip:hover .tiptext {
  visibility: visible;
}

.tooltip.bottom .tiptext {
  margin-left: -60px;
	top: 150%;
	  left: 50%;
}

.tooltip.bottom .tiptext::after {
  margin-left: -5px;
	bottom: 100%;
	  left: 50%;
	    border-color: transparent transparent #2e2e2e transparent;
}
