<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/head"/>
<title th:text="#{homework.exercise.list.h2}"/>
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{homework.exercise.list.h2}" />
		<div align="center">
			<img src="/img/homework.png" /><br>
		</div>
		<div th:if="${exerciseList.isEmpty()}">
			<h4 th:text="#{homework.exercise.empty}" />
		</div>
		<div class="table-responsive" th:unless="${exerciseList.isEmpty()}">
			<table class="table table-hover" th:fragment="tableexercise"
				id="tableexercise">
				<thead>
					<tr>
						<th class="col-md-2" th:text="#{homework.subject}"></th>
						<th th:text="#{user.list.table.name}"></th>
						<th th:text="#{home.description}">Descripción</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exercise : ${exerciseList}">
						<td><h4>
								<span class="label label-warning"
									th:text="${exercise.subject.name}">Asignatura</span>
							</h4></td>
						<td th:text="${exercise.name}">Ejercicio 1</td>
						<td th:text="${exercise.description}">Ejercicio 1</td>
						<td th:if="${!exercise.send}"><a
							th:href="${'/homework/do/' + exercise.id}"
							class="btn btn-warning" role="button" th:text="#{homework.todo}" aria-label="Center Align"></a></td>
						<td th:unless="${!exercise.send}"><a class="btn btn-warning"
							id="tooltip" data-toggle="tooltip" data-placement="left"
							th:title="#{tooltip.exercise.send}" role="button" aria-label="Center Align"
							th:text="#{homework.todo}" disabled></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
<script>
	$(function() {
		$('#tooltip').tooltip()
	})
</script>
</html>
