<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{homework.exercise.list.h2}" />
		<div align="center">
			<img src="/img/homework.png" /><br>
		</div>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableexercise"
				id="tableexercise">
				<thead>
					<tr>
						<th class="col-md-2" th:text="#{homework.subject}"></th>
						<th th:text="#{user.list.table.name}"></th>
						<th th:text="#{home.description}">Descripción</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exercise : ${exerciseList}">
						<td><h4>
								<span class="label label-warning"
									th:text="${exercise.subject.name}">Asignatura</span>
							</h4></td>
						<td th:text="${exercise.name}">Ejercicio 1</td>
						<td th:text="${exercise.description}">Ejercicio 1</td>
						<td><a th:href="${'/homework/do/' + exercise.id}"
							class="btn btn-warning" role="button" th:text="#{homework.todo}"></a></td>
						<td><button type="button" class="btn btn-warning" th:text="#{homework.send}"></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
