<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2>
			<span th:text="#{welcome.home}" />
		</h2>
		<h4>
			<span th:text="${user.role}" /> autenticado : <span
				sec:authentication="principal.username" th:inline="text"> </span>
		</h4>
	</div>
	<div class="container" style="text-align: center">
		<p sec:authorize="hasRole('ROLE_PROFESSOR')">Ejercicios creados</p>
		<div class="table-responsive"
			sec:authorize="hasRole('ROLE_PROFESSOR')">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Descripción</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exercise : ${exerciseList}">
						<td th:text="${exercise.name}">Ejercicio 1</td>
						<td th:text="${exercise.description}">10</td>
						<td><a th:href="${'/exercise/details/' + exercise.id}"
							class="btn btn-info" role="button">detalles</a></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/exercise/edit/' + exercise.id}" class="btn btn-info"
							role="button">modificar</a></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/exercise/delete/' + exercise.id}"
							class="btn btn-info" role="button">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="jumbotron" sec:authorize="hasRole('ROLE_ADMIN')">
			<h2 th:text="#{home.adminView}" />
			<p th:text="#{home.adminView.info}" />
			<p>
				<a class="btn btn-info btn-lg" href="/user/list" role="button"
					th:text="#{home.adminView.button}" />
			</p>
		</div>
		<div class="centerCard" sec:authorize="hasRole('ROLE_STUDENT')"
			th:if="${!subjectList.isEmpty()}">
			<div class="panel panel-default" th:each="subject: ${subjectList}">
				<div class="panel-heading">
					<h2 th:text="${subject.name}"></h2>
				</div>
				<div class="panel-body">
					<a th:href="${'/subject/details/' + subject.id}"><img
						src="/img/maths.png" /></a><br>
				</div>
			</div>
		</div>
		<div class="centerCard" sec:authorize="hasRole('ROLE_STUDENT')"
			th:if="${subjectList.isEmpty()}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>No estás asignado a ninguna asignatura</h2>
				</div>
				<div class="panel-body">
					<h4>Espera a que tu profesor de añada.</h4>
					<img src="/img/subjects.png" /><br>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>