<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center"
		sec:authorize="!hasRole('ROLE_ADMIN')">
		<h2>
			<span th:text="#{welcome.home}" />
		</h2>
		<h4>
			<span sec:authentication="principal.username" th:inline="text" /> </span> <span
				th:text="#{home.autenticated}" />  <span
				th:text="${user.getRoleString()}" />
		</h4>
	</div>
	<div class="container" style="text-align: center">
		<div class="table-responsive"
			sec:authorize="hasRole('ROLE_PROFESSOR')">
			<div class="panel-body" align="center">
				<img src="/img/exerciseList.png" /></a><br>
			</div>
			<h4 th:text="#{exercise.list}"/>
			<div class="alert alert-success" role="alert"
				th:if="${mensaje != null}" th:text="${mensaje}"></div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{signup.nombre}">Nombre</th>
						<th th:text="#{home.description}">Descripción</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="exercise : ${exerciseList}">
						<td th:text="${exercise.name}">Ejercicio 1</td>
						<td th:text="${exercise.description}">10</td>
						<td><a th:href="${'/exercise/details/' + exercise.id}"
							class="btn btn-info" role="button"><span th:text="#{user.list.table.detailsButton}"/></a></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/exercise/edit/' + exercise.id}" class="btn btn-info"
							role="button"><span th:text="#{user.list.table.editButton}"/></a></td>
						<td><a sec:authorize="hasRole('ROLE_PROFESSOR')"
							th:href="${'/exercise/delete/' + exercise.id}"
							class="btn btn-info" role="button"><span th:text="#{user.list.table.deleteButton}"/></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer sec:authorize="hasRole('ROLE_PROFESSOR')"
			th:replace="fragments/pagination" />

		<div class="panel-body" sec:authorize="hasRole('ROLE_ADMIN')"
			align="center">
			<img src="/img/admin.png" /></a><br>
		</div>
		<div class="jumbotron" sec:authorize="hasRole('ROLE_ADMIN')">
			<h2>
				<span class="material-icons-round"> visibility </span> <span
					th:text="#{home.adminView}"></span>
			</h2>

			<p th:text="#{home.adminView.info}" />
			<p>
				<a class="btn btn-info btn-lg" href="/user/list" role="button"
					th:text="#{home.adminView.button}" />
			</p>
		</div>
		<div class="centerCard" sec:authorize="hasRole('ROLE_STUDENT')"
			th:if="${!subjectList.isEmpty()}">
			<div class="panel panel-default" th:each="subject: ${subjectList}">
				<div class="panel-heading">
					<h2 th:text="${subject.name}"></h2>
				</div>
				<div class="panel-body">
					<a th:href="${'/subject/details/' + subject.id}"><img
						src="/img/maths.png" /></a><br>
				</div>
			</div>
		</div>
		<div class="centerCard" sec:authorize="hasRole('ROLE_STUDENT')"
			th:if="${subjectList.isEmpty()}">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 th:text="#{home.nosubject}"/>
				</div>
				<div class="panel-body">
					<h4 th:text="#{home.wait}"/>
					<img src="/img/subjects.png" /><br>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>