<!DOCTYPE html>
<html lang="en">
<head>
<div th:replace="fragments/head" />
<title th:text="#{homework.tocorrect}" />
</head>
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" th:object="${exercise}">
		<form class="form-horizontal" method="POST"
			enctype="multipart/form-data" action="/homework/do/uploadFile">
			<div class="container" align="center">
				<img src="/img/toDo.png" /><br>
			</div>
			<div class="centerCard">
				<h2>
					<span th:text="${exercise.name}"></span>
				</h2>
				<h4>
					<span th:text="${exercise.description}"></span>
				</h4>
				<input th:value="${exercise.id}" name="idExercise" type="number"
					hidden />
				<div class="form-group">
					<label class="control-label col-sm-2" for="file"
						th:text="#{todo.file}"></label> <input type="hidden"
						name="MAX_FILE_SIZE" value="500000" /> <input type="file"
						name="file" class="btn btn-info"
						accept=".pdf, .docx, .doc, .jpg, .png, .jpeg" required>
				</div>
			</div>
			<br> <br>
			<div class="container">
				<input name="idExercise" th:value="${exercise.id}" type="number"
					hidden />

				<div class="form-group">
					<label class="control-label col-sm-2" for="description"
						th:text="#{todo.comment}"></label>
					<div class="col-sm-8">
						<textarea class="form-control" name="description"
							th:placeholder="#{todo.comment.placeholder}"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-8" align="center">
						<button type="submit" class="btn btn-info">
							<span th:text="#{todo.button}" aria-label="Center Align"></span>
						</button>
					</div>
				</div>
		</form>
	</div>
	</div>


	<footer th:replace="fragments/footer" />
</body>
</html>